@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #cbe5ff;
  --secondary: #ccffe5;
  --accent: #ffe2ce;
  --purple: #c3c4ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-purple: var(--purple);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), 'Inter', sans-serif;
}


/* CSS IMPORTS */
@import '../styles/homepage.css';